# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Composer
/vendor/
composer.lock

# Build artifacts
dist/wp-content/uploads/
dist/wp-content/cache/
dist/wp-content/upgrade/
dist/wp-content/ai1wm-backups/
dist/wp-content/debug.log

# Env
.env
.env.local
.env.*