<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Voltmont Theme Tests">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage/php"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="/tmp/wordpress/"/>
    </php>

    <logging>
        <testdoxHtml outputFile="tests/coverage/testdox.html"/>
    </logging>
</phpunit>
